.body{
    margin: 0;
    background-color:blue;
}

.header {
    background-color: orange;
    padding: 40px;
}

.wrapper {
    max-width: 600px;
    margin: auto;
}

.main {
    background-color: rgb(129, 41, 56);
    padding: 40px;
}

.footer {
    background-color: pink;
    padding: 40px;
}